@import "/src/css/variables.css";

/* HIDDEN */
@media (min-width: 1px) and (max-width: 767px) {
  .nav__list-item--divider.hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav__list-item--divider.hidden {
    display: flex;
  }
}

/* 768p */
@media (min-width: 768px) {
  /* TOP-MENU */
  .menu-container {
    padding: var(--nav-menu-padding-second);
  }

  .nav__right-container .visually-hidden:nth-of-type(-n + 3) {
    display: block;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    border: initial;
    padding: initial;
    white-space: normal;
    clip-path: none;
    clip: auto;
    overflow: visible;
    padding-right: 16px;
  }

  /* MAIN */
  .main__title-heading {
    margin-left: 24px;
  }

  .nav-services {
    margin-bottom: 32px;
  }

  .about-company-container {
    flex-direction: row;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 24px;
  }

  .about-company__image {
    min-height: 198px;
    min-width: 360px;
  }

  .nav-services {
    margin-bottom: 32px;
  }

  .nav-services__list {
    padding-left: 28px;
    padding-right: 28px;
  }
}

/* 1120p */
@media (min-width: 1120px) {
  .main__title-wrapper {
    padding-top: 8px;
  }

  .main__title-heading {
    margin-left: 32px;
  }

  .nav-services {
    margin-bottom: 38px;
  }

  .main-nav-container {
    flex-wrap: wrap;
    flex-basis: 95%;
    min-height: 85px;
  }
}
